* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background: url('./img/bg.jpg');
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    background: linear-gradient(rgb(172, 244, 172), rgb(244, 244, 116));
    width: 90vmin;
    height: 92vmin;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
    border: 3px solid black;
    

}


.head{
    background-color: red;
}

.food{
    background-color: black;
}